<ul>
    @foreach (var item in ViewBag.EmbeddedKeywords)
    {
        <li><a asp-action ="Details" asp-controller="Keywords" target="_blank" asp-route-id=@item.KeywordId>@item.Field1</a></li>
    }
</ul>
