@model DataDictionary.Models.Keyword

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Keyword</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KeywordId" />
            <div class="form-group">
                <label asp-for="KeywordDefinitionId" class="control-label"></label>
                <select asp-for="KeywordDefinitionId" class="form-control" asp-items="ViewBag.KeywordDefinitionId"></select>
                <span asp-validation-for="KeywordDefinitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeywordDefinitionName" class="control-label"></label>
                <input asp-for="KeywordDefinitionName" class="form-control" />
                <span asp-validation-for="KeywordDefinitionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field1" class="control-label"></label>
                <input asp-for="Field1" class="form-control" />
                <span asp-validation-for="Field1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field2" class="control-label"></label>
                <input asp-for="Field2" class="form-control" />
                <span asp-validation-for="Field2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field3" class="control-label"></label>
                <input asp-for="Field3" class="form-control" />
                <span asp-validation-for="Field3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field4" class="control-label"></label>
                <input asp-for="Field4" class="form-control" />
                <span asp-validation-for="Field4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field5" class="control-label"></label>
                <input asp-for="Field5" class="form-control" />
                <span asp-validation-for="Field5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field6" class="control-label"></label>
                <input asp-for="Field6" class="form-control" />
                <span asp-validation-for="Field6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field7" class="control-label"></label>
                <input asp-for="Field7" class="form-control" />
                <span asp-validation-for="Field7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field8" class="control-label"></label>
                <input asp-for="Field8" class="form-control" />
                <span asp-validation-for="Field8" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field9" class="control-label"></label>
                <input asp-for="Field9" class="form-control" />
                <span asp-validation-for="Field9" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field10" class="control-label"></label>
                <input asp-for="Field10" class="form-control" />
                <span asp-validation-for="Field10" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field11" class="control-label"></label>
                <input asp-for="Field11" class="form-control" />
                <span asp-validation-for="Field11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field12" class="control-label"></label>
                <input asp-for="Field12" class="form-control" />
                <span asp-validation-for="Field12" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field13" class="control-label"></label>
                <input asp-for="Field13" class="form-control" />
                <span asp-validation-for="Field13" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field14" class="control-label"></label>
                <input asp-for="Field14" class="form-control" />
                <span asp-validation-for="Field14" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field15" class="control-label"></label>
                <input asp-for="Field15" class="form-control" />
                <span asp-validation-for="Field15" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field16" class="control-label"></label>
                <input asp-for="Field16" class="form-control" />
                <span asp-validation-for="Field16" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field17" class="control-label"></label>
                <input asp-for="Field17" class="form-control" />
                <span asp-validation-for="Field17" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field18" class="control-label"></label>
                <input asp-for="Field18" class="form-control" />
                <span asp-validation-for="Field18" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field19" class="control-label"></label>
                <input asp-for="Field19" class="form-control" />
                <span asp-validation-for="Field19" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field20" class="control-label"></label>
                <input asp-for="Field20" class="form-control" />
                <span asp-validation-for="Field20" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field21" class="control-label"></label>
                <input asp-for="Field21" class="form-control" />
                <span asp-validation-for="Field21" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field22" class="control-label"></label>
                <input asp-for="Field22" class="form-control" />
                <span asp-validation-for="Field22" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field23" class="control-label"></label>
                <input asp-for="Field23" class="form-control" />
                <span asp-validation-for="Field23" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field24" class="control-label"></label>
                <input asp-for="Field24" class="form-control" />
                <span asp-validation-for="Field24" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Field25" class="control-label"></label>
                <input asp-for="Field25" class="form-control" />
                <span asp-validation-for="Field25" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
